@{
    var profile = ViewData["ProfielData"] as KJobRecruitmentWebApp.Data.User.ProfileData;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Sweetalert Css -->
    <link href="plugins/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="css/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="css/themes/theme-kmutnb.css" rel="stylesheet" />

    <style>
        .square {
            width: 96px;
            height: 96px;
            border-style: solid;
            border-width: 2px;
            float: right;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row clearfix" style="padding:20 px">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header" style="text-align: center">มหาวิทยาลัยพระจอมเกล้าพระนครเหนือ<br>บัตรประจำตัวสอบพนักงานมหาวิทยาลัย</div>
                    <div class="body">
                        <div style="float: right;">
                            ครั้งที่ .../25.....
                        </div>
                        <br>
                        <div class="square">
                        </div>
                        <div class="container clearfix">
                            <p>เลขประจำตัวสอบ.......</p>
                            <p>ตำแหน่ง.......</p>
                            <p>ชื่อ <span>@profile.thai_name</span></p>

                        </div>

                        <div class="row" style="text-align: center">
                            <div class="col-md-6">................</div> <div class="col-md-6">เจ้าหน้าที่ออกบัตร</div>
                            <div class="col-md-6">................</div><div class="col-md-6">ลายมือชื่อผู้เข้าสมัคร</div>
                        </div>
                        <!-- <div class="row" style="text-align: center">


                             </div>
                          -->
                    </div>
                </div>
            </div>

        </div>
        <div class="row clearfix " style="padding:20 px">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header" style="text-align: center">มหาวิทยาลัยพระจอมเกล้าพระนครเหนือ<br>บัตรประจำตัวสอบพนักงานมหาวิทยาลัย</div>
                    <div class="body">
                        <div style="float: right;">
                            ครั้งที่ .../25.....
                        </div>
                        <br>
                        <div class="square">
                        </div>
                        <div class="container clearfix">
                            <p>เลขประจำตัวสอบ.......</p>
                            <p>ตำแหน่ง.......</p>
                            <p>ชื่อ <span>@profile.thai_name</span></p>

                        </div>

                        <div class="row" style="text-align: center">
                            <div class="col-md-6">................</div><div class="col-md-6">เจ้าหน้าที่ออกบัตร</div>
                            <div class="col-md-6">................</div><div class="col-md-6">ลายมือชื่อผู้เข้าสมัคร</div>
                        </div>
                        <!-- <div class="row" style="text-align: center">
                            </div>-->
                    </div>
                </div>
            </div>

        </div>

    </div>


    <!-- Jquery Core Js -->
    <script src="plugins/jquery/jquery.min.js"></script>

    <!-- for alert and ajax request --->
    <script src="js/user/account.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="plugins/node-waves/waves.js"></script>

    <!-- SweetAlert Plugin Js -->
    <script src="plugins/sweetalert2/dist/sweetalert2.all.min.js"></script>

    <!-- Custom Js -->
    <script src="js/admin.js"></script>

    <!-- Demo Js -->
    <script src="js/demo.js"></script>
</body>
</html>