
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>KJob Template</title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="css/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="css/themes/theme-home.css" rel="stylesheet" />
    <!-- Compiled and minified CSS -->
    <!-- Compiled and minified JavaScript -->

</head>

<body class="theme-kmutnb">
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse"
                   data-target="#navbar-collapse" aria-expanded="false"></a>
                <a class="navbar-brand" href="widgets/../index.html"><b style="color: #F77100">K</b>Job</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-menu">
                    <a class="active" href="#">หน้าแรก</a>
                    <a href="#">งาน/ข่าวสาร</a>
                    <a href="#">เกี่ยวกับ</a>
                    <a href="https://www.kmutnb.ac.th/
                    ">เว็บไซต์ มจพ.</a>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <!-- Notifications -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            <i class="material-icons">notifications</i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">การแจ้งเตือน</li>
                            <li class="body">
                                <ul class="menu">
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-purple">
                                                <i class="material-icons">settings</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4>Settings updated</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> Yesterday
                                                </p>
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0);">ดูการแจ้งเตือนทั้งหมด</a>
                            </li>
                        </ul>
                    </li>
                    <!-- #END# Notifications -->
                    <!-- Tasks -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            <i class="material-icons">account_circle</i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="body">
                                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto;">
                                    <ul class="menu" style="overflow: hidden; width: auto;">
                                        <li>
                                            <a href="firstlogin" class=" waves-effect waves-block">
                                                <div class="icon-circle bg-light-green">
                                                    <i class="material-icons">input</i>
                                                </div>
                                                <div class="menu-info">
                                                    <h4>เข้าสู่ระบบ</h4>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="register" class=" waves-effect waves-block">
                                                <div class="icon-circle bg-cyan">
                                                    <i class="material-icons">person_add</i>
                                                </div>
                                                <div class="menu-info">
                                                    <h4>สมัครสมาชิก</h4>
                                                </div>
                                            </a>
                                        </li>
                                        
                                </div>
                            </li>
                            
                        </ul>
                    </li>
                    <li class="pull-right">
                        <a href="javascript:void(0);" class="js-right-sidebar" data-close="true">
                            <i class="material-icons">more_vert</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- home -->
    <section>
        <div class="landing">
            <div class="home-wrap">
                <div class="home-inner">
                </div>
            </div>
        </div>
        <div class="caption center-block text-center">
            <h1>ร่วมทำงานกับ <span style="color: rgb(233, 108, 25);">มจพ</span></h1>
            <h4>มุ่งมันพัฒนาคุณภาพการบริหารทรัพยากรมนุษย์</h4>
        </div>
        </div>
    </section>

    </section>
    <!-- Job -->
    <section id="job">
        <div class="jumbotron">
            <h2 class="text-center">ประเภทของงาน</h2>
            <div class="row">
                <div class="col-sm-3 text-center">
                    <a class="nav-link" href="">
                        <i class="material-icons"
                           style="font-size:70px;color:rgb(223, 124, 31)">laptop_chromebook</i>
                    </a>
                    <h3>คอมพิวเตอร์และระบบสารสนเทศ</h3>

                </div>
                <div class="col-sm-3 text-center">
                    <a class="nav-link" href="">
                        <i class="material-icons"
                           style="font-size:70px;color:rgb(223, 124, 31)">school</i>
                    </a>
                    <h3>นักวิจัยและอาจารย์</h3>

                </div>
                <div class="col-sm-3 text-center">
                    <a class="nav-link" href="">
                        <i class="material-icons"
                           style="font-size:70px;color:rgb(223, 124, 31)">attach_money</i>
                    </a>
                    <h3>การเงิน</h3>

                </div>
                <div class="col-sm-3 text-center">
                    <a class="nav-link" href="">
                        <i class="material-icons"
                           style="font-size:70px;color:rgb(223, 124, 31)">people</i>
                    </a>
                    <h3>บริหารและจัดการทรัพยากรมนุษย์</h3>
                </div>
            </div>
    </section>

    <!-- news -->
    <section class="news">
        <div class="container">
            <div class="row text-center ">
                <h1 style="padding-top:1em; padding-bottom: 1em; color: white;">ข่าวประชาสัมพันธ์</h1>
            </div>
            <div class="row">
                <div class="carousel slide media-carousel" id="media">
                    <div class="carousel-inner">
                        <div class="item  active">
                            <div class="row">

                                <div class="col-sm-4">
                                    <div class="card ">
                                        <div class="card-img"><img src="./images/exersie.jpg" alt=""></div>
                                        <div class="card-body">
                                            <h5>สถานที่ออกกำลังกายและสันทนาการ</h5>
                                            <br>
                                            <button type="button" class="btn btn-outline-danger">รายละเอียด</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card ">
                                        <div class="card-img"><img src="./images/kmutnb-pa.jpg" alt=""></div>
                                        <div class="card-body">
                                            <h5>อาคาร TGGS</h5>
                                            <br>
                                            <button type="button" class="btn btn-outline-danger">รายละเอียด</button>
                                        </div>
                                        <div class="card-footer"></div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card ">
                                        <div class="card-img"><img src="./images/club.jpg" alt=""></div>
                                        <div class="card-body">
                                            <h5>สโมสร ชมรม และกิจกรรม</h5>
                                            <br>
                                            <button type="button" class="btn btn-outline-danger">รายละเอียด</button>
                                        </div>
                                        <div class="card-footer"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="card ">
                                        <div class="card-img"><img src="./images/libary.jpg" alt=""></div>
                                        <div class="card-body">
                                            <h5>บริการห้องสมุด</h5>
                                            <br>
                                            <button type="button" class="btn btn-outline-danger">รายละเอียด</button>
                                        </div>
                                        <div class="card-footer"></div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card ">
                                        <div class="card-img"><img src="./images/stay-(2).jpg" alt=""></div>
                                        <div class="card-body">
                                            <h5>หอพักนักศึกษา</h5>
                                            <br>
                                            <button type="button" class="btn btn-outline-danger">รายละเอียด</button>
                                        </div>
                                        <div class="card-footer"></div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card ">
                                        <div class="card-img"><img src="./images/discuss.jpg" alt=""></div>
                                        <div class="card-body">
                                            <h5>บริการให้คำปรึกษา</h5>
                                            <br>
                                            <button type="button" class="btn btn-outline-danger">รายละเอียด</button>
                                        </div>
                                        <div class="card-footer"></div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div id="slide">
                        <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
                        <a data-slide="next" href="#media" class="right carousel-control">›</a>
                    </div>
                </div>
    </section>

    <div style="width: 100%;height: 4vh; background-color: white;"></div>
    <!-- footer -->
    <section class="footer">
        <footer class="container-fluid " style="padding-top: 2em; padding-bottom: 2em;">
            <div class="row" style="color:white;">
                <div class="col-sm-4">
                    <h3 style="color:rgb(236, 133, 48);">ผู้พัฒนาเว็บไซต์</h3>
                    <p>GAC Devalopment</p>
                </div>
                <div class="col-sm-4">
                    <h3 style="color:rgb(236, 133, 48);">ติดต่อ มจพ. กรุงเทพฯ</h3>
                    <p>
                        <i class="material-icons" style="font-size:20px;color:white;">place</i>
                        มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าพระนครเหนือ
                        1518 ถนนประชาราษฎร์ 1 แขวงวงศ์สว่าง เขตบางซื่อ
                        กรุงเทพฯ 10800
                    </p>
                    <p>
                        <i class="material-icons" style="font-size:20px;color:white;">local_phone</i> โทรศัพท์ : +66 2
                        555-2000
                    </p>
                    <p>
                        <i class="material-icons" style="font-size:20px;color:white;">print</i> แฟกซ์ : +66 2 587-4350
                    </p>
                    <p>
                        <i class="material-icons" style="font-size:20px;color:white;">mail</i> อีเมล :
                        contact@op.kmutnb.ac.th
                    </p>
                </div>
                <div class="col-sm-4">
                    <h3 style="color:rgb(236, 133, 48);">ติดตามเราได้ที่</h3>
                    <p>
                        <a href="https://www.facebook.com/KMUTNB.Official/">
                            <i class="fa fa-facebook-square"
                               style="font-size:30px; color: white"></i>
                        </a>
                    </p>
                    <p>
                        <a href="https://twitter.com/official_kmutnb">
                            <i class="fa fa-twitter-square"
                               style="font-size:30px; color: white"></i>
                        </a>
                    </p>
                </div>
            </div>
        </footer>
    </section>

    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar outline-kmutnb" style="width: 250px; display: none;">
            <!-- User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="active">

                    </li>
                </ul>
            </div>
            <!-- #Menu -->

        </aside>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
        <aside id="rightsidebar" class="right-sidebar" style="width: 150px">

            <div>
                <ul class="page-menu">
                    <a href="">
                        <li class="active"><span>หน้าแรก</span></li>
                    </a>
                    <a href="#">
                        <li><span>งาน/ข่าวสาร</span></li>
                    </a>
                    <a href="#">
                        <li><span>เกี่ยวกับ</span></li>
                    </a>
                    <a href="https://www.kmutnb.ac.th/">
                        <li><span>เว็บไซจ์ มจพ.</span></li>
                    </a>
                </ul>
            </div>
        </aside>
        <!-- #END# Right Sidebar -->
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Jquery Core Js -->
    <script src="plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="plugins/node-waves/waves.js"></script>

    <!-- Custom Js -->
    <script src="js/admin.js"></script>

    <!-- Demo Js -->
    <script src="js/demo.js"></script>

    <script>
        $(document).ready(function () {
            $('#media').carousel({
                pause: true,
                interval: false,
            });
        });
    </script>


</body>

</html>

